Django==1.4.3
git+https://github.com/toastdriven/django-haystack.git
whoosh==2.4.1
south==0.7.6
hg+https://st4lk@bitbucket.org/st4lk/django-articles-transmeta
git+https://github.com/st4lk/django-transmeta-issue.git
markdown
git+https://github.com/st4lk/django-solid-i18n-urls.git
