{% load article_tags %}
{% load i18n %}
{% load url from future %}

<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    {% if request.LANGUAGE_CODE == 'ru' %}
    <meta name="language" content="ru-RU" />
    {% else %}
    <meta name="language" content="en-US" />
    {% endif %}
    <meta name="google-site-verification" content="jPbVM0QA1qMwGZrULU79MDCwn-ebO-x2_zG5gmi8eIE" />
    <meta name='yandex-verification' content='4035d3b2050889d8' />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% endblock %}" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% trans "Python developer articles" %} - {% block title %}Welcome{% endblock %}</title>
    <!-- Le styles -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}/articles/img/favicon.ico" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}articles/css/articles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->

    {% block extra-head %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35656353-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <style>
      .ru-bg{
        background-image: url("{{ STATIC_URL }}articles/img/ru.png");
      }
      .en-bg{
        background-image: url("{{ STATIC_URL }}articles/img/en.png");
      }
      body {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% if request.LANGUAGE_CODE == 'en' %}/en{% endif %}/">lexev.org - {% trans 'python developer articles' %}</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="dropdown">
                <form class="navbar-search pull-left" action="{% if request.LANGUAGE_CODE == 'en' %}/en{% endif %}/search/" method="get">
                  <input type="text" name=q class="search-query span2" placeholder="{% trans 'Search' %}">
                </form>
              </li>
              <li>
                <a href="{% url 'contacts' %}" >{% trans 'About' %}</a>
              </li>
              <li>
                <a href="{% url 'cv' %}" >{% trans 'CV' %}</a>
              </li>
              <li>
                {% if request.LANGUAGE_CODE == 'ru' %}
                  <a class="btn btn-inverse btn-lng ru-bg" href="{{request.get_full_path}}" ></a>
                {% else %}
                  <a class="btn btn-inverse btn-lng ru-bg" href="{{request.get_full_path|slice:'3:'}}" ></a>
                {% endif %}
              </li>
              <li>
                {% if request.LANGUAGE_CODE == 'ru' %}
                  <a class="btn btn-inverse btn-lng en-bg" href="/en{{request.get_full_path}}" ></a>
                {% else %}
                  <a class="btn btn-inverse btn-lng en-bg" href="{{request.get_full_path}}" ></a>
                {% endif %}

              </li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div><!-- /container -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar navbar-fixed-top -->

    <div class="container">
      <div class="content">
        <div class="wrapper">
          <div class="proper-content">
            <div class="row">
              <div class="span9">
                {% block content %}{% endblock %}
              </div>
              <div class="span2" style="border-left:#999 1px solid;">
                <div class="transparent_well">
                  {% tag_cloud %}
                </div>
                {% block feeds %}
                <div class="transparent_well">
                  <img src="{{ STATIC_URL }}articles/img/rss-icon.png" class="img-polaroid">
                    <a href="{{ FEEDBURNER_URL }}">rss feed</a>
                </div>
                {% endblock %}
              </div>
            </div>
          </div><!-- /proper-content -->
          <div class="push"></div>
        </div><!-- /wrapper -->

        <div class="footer-wrapper">
          <footer>
            <div class="row">
              <div class="span8">{% trans 'Site build with' %}
                <a href="http://python.org" target="_blank" title="Python {{ PYTHON_VERSION }}">Python {{ PYTHON_VERSION }}</a>
                <a href="http://www.djangoproject.com" target="_blank" title="Django {{ DJANGO_VERSION }}">Django {{ DJANGO_VERSION }}</a>
                <a href="http://twitter.github.com/bootstrap/" target="_blank" title="Bootstrap">Bootstrap</a>
              </div>
              <div class="span3"><a href="{% url 'contacts' %}">{% trans 'Alexey Evseev' %}</a></div>
            </div>
          </footer>
        </div><!-- /footer-wrapper -->

      </div><!-- /content -->
    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% block footer %}
    {% endblock %}
  </body>
</html>
