<table style="margin:0px;border:1px solid black;">
    <tr>
        <td style="width:80%;">
        <div style="text-align:center">
            <h1 style="margin:0px">Alexey Evseev</h1>
            <h3 style="margin:0px"><a href="mailto:alexevseev@gmail.com">alexevseev@gmail.com</a> | <a href="http://www.lexev.org/en/">www.lexev.org</a></h3>
        </div>
        </td>
        <td align="right" style="width:20%;"><img style="width:100px;height:100px;" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/1ce/0f9/1dd0154.jpg" /></td>
    </tr>
</table>
