.withgap{
	margin-top:10px;
}
.btn-lng {
    width: 30px !important;
	height: 19px !important;
	background-position: 0 !important;
	padding: 0 !important;
	margin: 8px 5px 6px !important;
	font-size: 17px !important;
	line-height: 20px !important;
}
