{% extends 'base.html' %}
{% load article_tags i18n %}
{% load url from future %}

{% block extra-head %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="Latest Blog Articles RSS Feed" href="{% url 'articles_rss_feed_latest' %}" />
<link rel="alternate" type="application/atom+xml" title="Latest Blog Articles Atom Feed" href="{% url 'articles_atom_feed_latest' %}" />
{% endblock %}

{% block content %}

{% block articles-content %}{% endblock %}

{% if paginator and page_obj %}
{% ifnotequal paginator.page_range|length 1 %}
{% for p in paginator.page_range %}
{% if forloop.first %}<ul class="pagination-pages">
{% if page_obj.has_previous %}
    <li><a href="{% get_page_url 1 %}">&laquo;</a></li>
    <li><a href="{% get_page_url page_obj.previous_page_number %}">&lsaquo;</a></li>
{% endif %}
{% endif %}
    <li><a href="{% get_page_url p %}"{% ifequal p page_obj.number %} class="current-page"{% endifequal %}>{{ p }}</a></li>
{% if forloop.last %}
{% if page_obj.has_next %}
    <li><a href="{% get_page_url page_obj.next_page_number %}">&rsaquo;</a></li>
    <li><a href="{% get_page_url paginator.num_pages %}">&raquo;</a></li>
{% endif %}
</ul>{% endif %}
{% endfor %}
{% endifnotequal %}
{% endif %}
{% endblock %}

{% block footer %}
{{ block.super }}
{% if DISQUS_SHORTNAME %}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ DISQUS_SHORTNAME }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
</script>
{% endif %}
{% endblock %}

